<a href="https://colab.research.google.com/github/adityakumarpinjala/My-Practice-with-Python_DS/blob/master/Copy_of_Copy_of_Ecommerce_Purchases_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Most of the tasks can be solved in different ways.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
path = r'https://raw.githubusercontent.com/cruseakshay/sql_practice/main/Ecommerce_Purchases_data.csv'
ecom = pd.read_csv(path)

**Inspect first 10 rows of the data.**

In [ ]:
ecom.head(10)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448 Alexisborough, NE 771...  ...          98.14
1  9374 Jasmine Spurs Suite 508 South John, TN 84...  ...          70.73
2                    Unit 0065 Box 5052 DPO AP 27450  ...           0.95
3               7780 Julia Fords New Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337 New Cynthia, TX 57826  ...          77.82
5  7502 Powell Mission Apt. 768 Travisland, VA 30...  ...          25.15
6      93971 Conway Causeway Andersonburgh, AZ 75107  ...          88.56
7  260 Rachel Plains Suite 366 Castroberg, WV 248...  ...          44.25
8             2129 Dylan Burg New Michelle, ME 28650  ...          59.54
9     3795 Dawson Extensions Lake Tinafort, ID 88739  ...          95.63

[10 rows x 14 columns]

**How many rows and columns are present in data?**

In [ ]:
ecom.shape

(10000, 14)

**What is the average Purchase Price?**

In [ ]:
ecom['Purchase Price'].mean()

50.34730200000025

**What is the highest and the lowest purchase price?**

In [ ]:
ecom['Purchase Price'].min()

0.0

In [ ]:
ecom['Purchase Price'].max()

99.99

**How many people have English 'en' as their Language of choice on the website?**

In [ ]:
ecom[ecom['AM or PM']].values_count()

KeyError: ignored

**How many people have the job title of "Lawyer" ?**

In [ ]:
ecom[ecom['Job']=='Lawyer'].shape

(30, 14)

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

In [ ]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**What are the 5 most common Job Titles?**

In [ ]:
ecom['Job'].value_counts()[:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [ ]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [ ]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

                                               Address  ... Purchase Price
1234  2470 Maria Manors Suite 185 Joneshaven, MN 87251  ...          77.88

[1 rows x 14 columns]

**How many people have American Express as their Credit Card Provider and made a purchase above $95 ?**

In [ ]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price'] > 95.0)]

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

**How many people have a credit card that expires in 2025?**

In [ ]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

**What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [ ]:
ecom['ext3']=pd.Series(ecom['Email']).str.split('@')[2]

ValueError: ignored

# Thank You!

In [ ]:
ecom['ext1']

0                    [pdunlap, yahoo.com]
1                   [anthony41, reed.com]
2       [amymiller, morales-harrison.com]
3          [brent16, olson-robinson.info]
4          [christopherwright, gmail.com]
                      ...
9995            [iscott, wade-garner.com]
9996                [mary85, hotmail.com]
9997                 [tyler16, gmail.com]
9998           [elizabethmoore, reid.net]
9999             [rachelford, vaughn.com]
Name: ext1, Length: 10000, dtype: object