In [5]:
import pandas as pd
import os

In [95]:
os.chdir("D:\Education\Data Science\Files\Files1")

In [96]:
SH=pd.read_csv("Spam_Ham.csv",header=None)

In [97]:
SH.head(5)

                                                   0
0  make,address,all,W_3d,our,over,remove,internet...
1  0,0.64,0.64,0,0.32,0,0,0,0,0,0,0.64,0,0,0,0.32...
2  0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,0.2...
3  0.06,0,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,0....
4  0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,0.31,0.31,0...

In [98]:
C=SH[0][0]

In [99]:
Column_Names=C.split(',')

In [100]:
Column_Names

['make',
 'address',
 'all',
 'W_3d',
 'our',
 'over',
 'remove',
 'internet',
 'order',
 'mail',
 'receive',
 'will',
 'people',
 'report',
 'addresses',
 'free',
 'business',
 'email',
 'you',
 'credit',
 'your',
 'font',
 'W_000',
 'money',
 'hp',
 'hpl',
 'george',
 'W_650',
 'lab',
 'labs',
 'telnet',
 'W_857',
 'data',
 'W_415',
 'W_85',
 'technology',
 'W_1999',
 'parts',
 'pm',
 'direct',
 'cs',
 'meeting',
 'original',
 'project',
 're:',
 'edu',
 'table',
 'conference',
 'C;',
 'C(',
 'C[',
 'C!',
 'C$',
 'C#',
 'CAP_avg',
 'CAP_long',
 'CAP_tot',
 'Spam']

In [101]:
CH=SH[1:].rename(columns={0:'C1'})

In [102]:
CH.head(2)

                                                  C1
1  0,0.64,0.64,0,0.32,0,0,0,0,0,0,0.64,0,0,0,0.32...
2  0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,0.2...

In [103]:
CD=CH.C1.str.split(',').tolist()

In [104]:
CD[0:2]

[['0',
  '0.64',
  '0.64',
  '0',
  '0.32',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.64',
  '0',
  '0',
  '0',
  '0.32',
  '0',
  '1.29',
  '1.93',
  '0',
  '0.96',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.778',
  '0',
  '0',
  '3.756',
  '61',
  '278',
  '1'],
 ['0.21',
  '0.28',
  '0.5',
  '0',
  '0.14',
  '0.28',
  '0.21',
  '0.07',
  '0',
  '0.94',
  '0.21',
  '0.79',
  '0.65',
  '0.21',
  '0.14',
  '0.14',
  '0.07',
  '0.28',
  '3.47',
  '0',
  '1.59',
  '0',
  '0.43',
  '0.43',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.07',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.132',
  '0',
  '0.372',
  '0.18',
  '0.048',
  '5.114',
  '101',
  '1028',
  '1']]

#### Application

In [105]:
X1=[[1,2,3,4,5],[2,4,5,6,7]]

In [106]:
X2=pd.DataFrame(X1,columns=['A','B','C','D','E'])
X2

   A  B  C  D  E
0  1  2  3  4  5
1  2  4  5  6  7

#####  Applying the similar Concept Here

In [76]:
SH2=pd.DataFrame(CD,columns=Column_Names)

In [77]:
SH2

,make,address,all,W_3d,our,over,remove,internet,order,mail,...,C;,C(,C[,C!,C$,C#,CAP_avg,CAP_long,CAP_tot,Spam
0,0,0.64,0.64,0,0.32,0,0,0,0,0,...,0,0,0,0.778,0,0,3.756,61,278,1
1,0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,...,0,0.132,0,0.372,0.18,0.048,5.114,101,1028,1
2,0.06,0,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.01,9.821,485,2259,1
3,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.137,0,0.137,0,0,3.537,40,191,1
4,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.135,0,0.135,0,0,3.537,40,191,1
5,0,0,0,0,1.85,0,0,1.85,0,0,...,0,0.223,0,0,0,0,3,15,54,1
6,0,0,0,0,1.92,0,0,0,0,0.64,...,0,0.054,0,0.164,0.054,0,1.671,4,112,1
7,0,0,0,0,1.88,0,0,1.88,0,0,...,0,0.206,0,0,0,0,2.45,11,49,1
8,0.15,0,0.46,0,0.61,0,0.3,0,0.92,0.76,...,0,0.271,0,0.181,0.203,0.022,9.744,445,1257,1
9,0.06,0.12,0.77,0,0.19,0.32,0.38,0,0.06,0,...,0.04,0.03,0,0.244,0.081,0,1.729,43,749,1
10,0,0,0,0,0,0,0.96,0,0,1.92,...,0,0,0,0.462,0,0,1.312,6,21,1
11,0,0,0.25,0,0.38,0.25,0.25,0,0,0,...,0.022,0.044,0,0.663,0,0,1.243,11,184,1
12,0,0.69,0.34,0,0.34,0,0,0,0,0,...,0,0.056,0,0.786,0,0,3.728,61,261,1
13,0,0,0,0,0.9,0,0.9,0,0,0.9,...,0,0,0,0,0,0,2.083,7,25,1
14,0,0,1.42,0,0.71,0.35,0,0.35,0,0.71,...,0,0.102,0,0.357,0,0,1.971,24,205,1
15,0,0.42,0.42,0,1.27,0,0.42,0,0,1.27,...,0,0.063,0,0.572,0.063,0,5.659,55,249,1
16,0,0,0,0,0.94,0,0,0,0,0,...,0,0,0,0.428,0,0,4.652,31,107,1
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1.975,0.37,0,35.461,95,461,1
18,0,0,0.55,0,1.11,0,0.18,0,0,0,...,0,0.182,0,0.455,0,0,1.32,4,70,1
19,0,0.63,0,0,1.59,0.31,0,0,0.31,0,...,0,0.275,0,0.055,0.496,0,3.509,91,186,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0.729,0,0.729,0,0,3.833,9,23,1
21,0.05,0.07,0.1,0,0.76,0.05,0.15,0.02,0.55,0,...,0.042,0.101,0.016,0.25,0.046,0.059,2.569,66,2259,1
22,0,0,0,0,2.94,0,0,0,0,0,...,0.404,0.404,0,0.809,0,0,4.857,12,34,1
23,0,0,0,0,1.16,0,0,0,0,0,...,0,0.133,0,0.667,0,0,1.131,5,69,1
24,0,0,0,0,0,0,0,0,0,0,...,0,0.196,0,0.392,0.196,0,5.466,22,82,1
25,0.05,0.07,0.1,0,0.76,0.05,0.15,0.02,0.55,0,...,0.042,0.101,0.016,0.25,0.046,0.059,2.565,66,2258,1
26,0,0,0,0,0,0,0,0,0,0,...,0,0.196,0,0.392,0.196,0,5.466,22,82,1
27,0,0,0,0,0,0,1.66,0,0,0,...,0,0,0,0.368,0,0,2.611,12,47,1
28,0,0,0,0,0,0,0,0,0,0,...,0,0.352,0,0.352,0,0,4,11,36,1
29,0,0,0,0,0.65,0,0.65,0,0,0,...,0,0.459,0,0.091,0,0,2.687,66,129,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,0,0,0.46,0,0.23,0.23,0,0,0,0,...,0,0.082,0,0.082,0,0,1.256,5,98,0
4572,0,0,0,0,0,0,0,0,0,0,...,0,0.254,0,0,0,0,1,1,13,0
4573,0,0,0.18,0,0.18,0.18,0,0,0,0,...,0.033,0.033,0,0.099,0,0,1.489,11,137,0
4574,0.29,0,0.29,0,0,0,0,0,0,0.29,...,0,0.107,0,0,0,0,1.22,6,61,0
4575,0,0,0,0,0,0,0,0,0,1.38,...,0,0.213,0,0,0,0,1.72,11,43,0
4576,0,0,0,0,0,0,0,0,0,0,...,0,0.131,0,0,0,0,1.488,5,64,0
4577,0,0,1.2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.2,3,24,0
4578,0,0,0.4,0,0,0,0,0,0,0,...,0,0,0.145,0,0,0,1.372,5,70,0
4579,0.27,0.05,0.1,0,0,0,0,0,0,0,...,0.607,0.064,0.036,0.055,0,0.202,3.766,43,1789,0
4580,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.571,5,11,0
4581,0,0,0,0,0,0.51,0,0,0,0,...,0,0.091,0,0.091,0,0,1.586,4,46,0
4582,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.266,3,19,0
4583,0,0,1.23,0,0,0,0,0,0,0,...,0,0,0.406,0,0,0,1.666,13,70,0
4584,0,0,0.45,0,0,0.22,0,0,0,0,...,0,0.082,0,0.041,0,0,1.5,7,123,0
4585,0,0,0,0,0,0,0,0,0,0,...,0,0.625,0,0,0,0,1.375,4,11,0
4586,0,0,0,0,0.36,0,0,0,0,0,...,0,0.112,0,0,0,0.056,1.793,21,174,0
4587,0,0,0,0,0,0,0,0,0,0,...,0,0.125,0,0,0.125,0,1.272,4,28,0
4588,0,0,3.03,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.111,2,10,0
4589,0,0,0,0,0.54,0,0,0,0,0,...,0,0,0,0,0,0,1,1,22,0
4590,0,0,0,0,0,0,0,0,0,0,...,0,0.185,0,0,0,0.092,2.468,11,79,0
4591,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,8,0
4592,0,0,1.25,0,2.5,0,0,0,0,0,...,0,0.111,0,0,0,0,1.285,4,27,0
4593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1.052,0,0,1,1,6,0
4594,0,0,0,0,0,0,0,0,0,0,...,0,0.63,0,0,0,0,1.727,5,19,0
4595,0,0,1.19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,24,0
4596,0.31,0,0.62,0,0,0.31,0,0,0,0,...,0,0.232,0,0,0,0,1.142,3,88,0
4597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.353,0,0,1.555,4,14,0
4598,0.3,0,0.3,0,0,0,0,0,0,0,...,0.102,0.718,0,0,0,0,1.404,6,118,0
4599,0.96,0,0,0,0.32,0,0,0,0,0,...,0,0.057,0,0,0,0,1.147,5,78,0
4600,0,0,0.65,0,0,0,0,0,0,0,...,0,0,0,0.125,0,0,1.25,5,40,0

#### Converting Dictionary to DataFrame

In [108]:
X3={'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}
X3['D']=[4,5,6]
X4=pd.DataFrame(X3)
X4

   A  B  C  D
0  1  4  7  4
1  2  5  8  5
2  3  6  9  6

In [130]:
data_dict = {"a": 1, "b": 2, "c": 3}
pd.DataFrame(data_dict,index=data_dict.keys())

   a  b  c
a  1  2  3
b  1  2  3
c  1  2  3

In [ ]:
#Coverting Tuple to DataFrame

In [11]:
data_dict = {"a": [1], "b": [2], "c": [3]}
X=data_dict.items()
X1=list(X)
X2=pd.DataFrame(list(X))
X2

   0    1
0  a  [1]
1  b  [2]
2  c  [3]

In [12]:
pd.DataFrame(data_dict)

   a  b  c
0  1  2  3

In [140]:
##### Arrays can be imported in two different ways,i)using Array module and ii)numpy module

In [134]:
import numpy,array
l=numpy.array([1, 2, 'string'])
l

array(['1', '2', 'string'], dtype='<U11')

In [136]:
l2=array.array('i', [1, 2, 'string'])

TypeError: an integer is required (got type str)

In [157]:
s[1:100]

'urga'

In [160]:
s1="durgasoftsolutions"

In [161]:
s1[1:10:2]

'ugsfs'

In [162]:
int("10")

10

In [163]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'